@import url('./base.css');

#app {
  /* min-width: 1080px; */
  height: 100vh;
  padding: 0;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  color: var(--td-brand-color);
  text-decoration: none;
  transition: 0.4s;
}
.primary-color {
  color: var(--td-brand-color);
}

@media (hover: hover) {
  /* a:hover {
    background-color: hsl(160deg 100% 37% / 20%);
  } */
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }
}
